# <center> 3. spark code challenge </center>

Data Srouce: [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [ ]:
# 1. create spark session

In [ ]:
# 2. read csv file

In [ ]:
# 3. take a look at the dataframe

In [ ]:
# 4. check schema of the dataframe

In [ ]:
# 5. how many records in the dataframe

In [ ]:
# 6. What is the average BasePay

In [ ]:
# 7. What is the job title of JOSEPH DRISCOLL

In [ ]:
# 8. How much does JOSEPH DRISCOLL make (including benefits)

In [ ]:
# 9. What is the name of highest paid person (including benefits)?

In [ ]:
# 10. What is the name of lowest paid person (including benefits)

In [ ]:
# 11. What was the average (mean) BasePay of all employees per year?

In [ ]:
# 11. How many unique job titles are there?

In [ ]:
# 12. What are the top 5 most common jobs

In [ ]:
# 13. How many Job Titles were represented by only one person in 2013?

In [ ]:
# 14. How many people have the word Chief or chief in their job title?