# <center>Just Enough Python</center>

## Computer Programming Concepts

### Server v.s. PC
* CPU
* Storage
  - Memory
  - Disk
* Network

![server-vs-pc](./pics/server-vs-pc.png)

### Program
 * Just a pure text **file** of **logic** which computes **output** from **input**
 * **High level** language: language used by human
 * **Low level** language: language executed by computer
 * **Compile & Compiler**: Compile - convert High-level language to Low-level language
 * **Interpret & Interpreter**
 * Why **CPU architecture** matters: eg. Low-level language used by Intel x86 differs to the one used by IBM POWER CPU
 * **Portable**: Run on Virtual Machine

#### Human Language
we will go to the park tomorrow if the weather is good, otherwise we will stay at home. 

#### Python program
```python
weather = 'good'
if( weather is 'good'):
    print('go to park')
else:
    print('stay at home')
```

In [2]:
weather = 'good'
if weather == 'good':
    print('go to park')
else:
    print('stay at home')

go to park

![high-vs-low](./pics/high-vs-low.png)

#### What about Python?
* High level language
* Both compile and interpret

![python-compile-interpret](./pics/python-compile-interpret.jpg)

* Flow Control
* List, List Comprehension
* Tuple
* Dictionary
* Function, Lambda, Built-in Function
* Exception and Error Handling
* OOP
* Regular Expression
* Datetime

## Python Basics

In [1]:
# hello world
print('Hello Python!')

Hello Python!

In [2]:
# variable, value assignment
# integer, float, string
message = 'Hello World!'
print(message)

Hello World!

In [3]:
# string manipulation
first_name = "Alex"
last_name = 'Green'
last_name = last_name.upper()
print("Hello {} {} \nWelcome to Python".format(first_name, last_name))

Hello Alex GREEN
Welcome to Python

In [4]:
print(f"Hello {first_name} {last_name} \nWelcome to Python")

Hello Alex GREEN
Welcome to Python

In [7]:
# string manipulation
# Python standard library
text = '   have both leading and ending space   '
print("'{}'\n'{}'\n'{}'".format(text.lstrip(), text.rstrip(), text.strip()))

'have both leading and ending space   '
'   have both leading and ending space'
'have both leading and ending space'

In [8]:
4 + 2

6

In [9]:
4 * 2

8

In [10]:
4 / 2

2.0

In [11]:
5 // 4

1

In [12]:
# mod (0 if divisible)
5%2

1

In [14]:
2 ** 4

16

In [15]:
a = 0.2
b = 0.1
a + b

0.30000000000000004

In [16]:
a * b

0.020000000000000004

## List

In [87]:
# string is a list of characters
s = 'hello world'
print(s)

hello world

In [88]:
print(s[0])

h

In [89]:
# string is IMMUTABLE, below code will give you an runtime error
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [1]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [2]:
print(fruits[0])

apple

In [3]:
fruits.append('elderberry')
fruits.append('dragon fruit')
print(fruits)

['apple', 'banana', 'cherry', 'elderberry', 'dragon fruite']

In [93]:
popped_fruit = fruits.pop() #.pop() by default, the last item in the list gets popped
popped_fruit

'dragon fruite'

In [94]:
print(fruits)

['apple', 'banana', 'cherry', 'elderberry']

In [95]:
fruits.insert(0, 'grape')
print(fruits)

['grape', 'apple', 'banana', 'cherry', 'elderberry']

In [96]:
## Notice the difference between sorted(some_list) and some_list.sort()
print(sorted(fruits))
print(fruits)

['apple', 'banana', 'cherry', 'elderberry', 'grape']
['grape', 'apple', 'banana', 'cherry', 'elderberry']

In [97]:
# some_list.sort() is INPLACE sorting
fruits.sort()
#fruits.sort(reverse = True)
print(fruits)

['apple', 'banana', 'cherry', 'elderberry', 'grape']

In [98]:
fruits.reverse()
print(fruits)

['grape', 'elderberry', 'cherry', 'banana', 'apple']

In [99]:
len(fruits)

5

In [100]:
print(fruits)

['grape', 'elderberry', 'cherry', 'banana', 'apple']

In [106]:
# Slicing
# [start:stop:step]
#sub_fruits = fruits[:1]
#sub_fruits = fruits[0:1]
#sub_fruits = fruits[0:3]
#sub_fruits = fruits[:-1]
#sub_fruits = fruits[::-1]
#sub_fruits = fruits[-3:-1]
#sub_fruits = fruits[-1:3]
sub_fruits = fruits[-4:3]
#sub_fruits = fruits[::]
print(sub_fruits)

['elderberry', 'cherry']

In [107]:
fruits.remove('elderberry')
fruits

['grape', 'cherry', 'banana', 'apple']

In [108]:
f = fruits.pop(2)
print(f)

banana

In [109]:
fruits

['grape', 'cherry', 'apple']

In [110]:
fruits.insert(2, 'banana')

In [111]:
fruits

['grape', 'cherry', 'banana', 'apple']

In [113]:
# iterator, iterable
it = iter(fruits)

In [114]:
next(it)

'grape'

In [115]:
next(it)

'cherry'

In [116]:
next(it)

'banana'

In [117]:
next(it)

'apple'

In [118]:
next(it)

StopIteration:

<hr/>

## Tuple

In [60]:
t = ('alex', 'bob', 'charlie', 'danny')

In [61]:
for e in t:
    print(e)

alex
bob
charlie
danny

In [62]:
t[0]

'alex'

In [63]:
# tuple is IMMUTABLE
t[0] = 'anny'

TypeError: 'tuple' object does not support item assignment

In [64]:
# tuple unpack
n1, n2, n3, _ = t

In [65]:
print(f"{n1} & {n2} & {n3}")

alex & bob & charlie

In [66]:
t.count('alex')

1

In [67]:
t.count('richard')

0

In [68]:
t.index('alex')

0

In [69]:
t.index('richard')

ValueError: tuple.index(x): x not in tuple

In [70]:
type(t)

tuple

<hr/>

## Set (contains unique values only)

In [136]:
my_set = set()

In [137]:
my_set

set()

In [138]:
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set

{1, 2, 3}

In [139]:
my_set.add(1)
my_set.add(100)
my_set

{1, 2, 3, 100}

In [140]:
my_list = list(my_set)
my_list

[1, 2, 3, 100]

In [141]:
for i in my_set:
    print(i)

1
2
3
100

In [143]:
my_set.remove(100)

In [148]:
my_set

{1, 2, 3}

In [149]:
my_set.remove(99)

KeyError: 99

In [150]:
my_set.discard(99)  #.discar() similar to .remove() but never throws errors

In [151]:
my_set

{1, 2, 3}

In [152]:
my_set.clear()

In [153]:
my_set

set()

In [154]:
math_student = set({'Alex', 'Bob', 'Charlie', 'Danny', 'Ethan'})
chinese_student = set({'Alex', 'Bob', 'Flynn', 'George'})

In [155]:
math_student & chinese_student

{'Alex', 'Bob'}

In [156]:
math_student | chinese_student

{'Alex', 'Bob', 'Charlie', 'Danny', 'Ethan', 'Flynn', 'George'}

## Dictionary

In [149]:
zipcode = {'sydney': 2000, 'mascot': 2020, 'hornsby': 2077} 
zipcode['hornsby']

2077

In [107]:
for surbub, code in zipcode.items():
    print("zipcode of {} is {}".format(surbub, code))

zipcode of sydney is 2000
zipcode of mascot is 2020
zipcode of hornsby is 2077

In [150]:
zipcode['north sydney'] = 2055
zipcode

{'sydney': 2000, 'mascot': 2020, 'hornsby': 2077, 'north sydney': 2055}

In [151]:
# remove a pair of key and value from the dictionary
del zipcode['hornsby']
zipcode

{'sydney': 2000, 'mascot': 2020, 'north sydney': 2055}

In [152]:
[key for key in zipcode.keys()]

['sydney', 'mascot', 'north sydney']

In [153]:
[value for value in zipcode.values()]

[2000, 2020, 2055]

In [154]:
for key in sorted(zipcode.keys()):
    print("{}: {}".format(key, zipcode[key]))

mascot: 2020
north sydney: 2055
sydney: 2000

## Flow Control

**Note**: below C/Java style for loop does **NOT** work in Python!!!
```python
for(i = 0; i < len(fruits); i++):
    print(fruits[i])
```

In [163]:
for fruit in fruits:
    print(fruit)

grape
cherry
banana
apple

In [164]:
i = 0;
while i < len(fruits):
    print(fruits[i])
    i += 1

grape
cherry
banana
apple

In [165]:
fruits

['grape', 'cherry', 'banana', 'apple']

In [166]:
for fruit in fruits:
    if fruit == 'cherry':
        print('yes! I love cherry!')
    else:
        print('do not want {}. try next.. '.format(fruit))

do not want grape. try next..
yes! I love cherry!
do not want banana. try next..
do not want apple. try next..

In [167]:
for fruit in fruits:
    if fruit == 'cherry':
        print('yes! I love cherry!')
        break
    else:
        print('do not want {}. try next.. '.format(fruit))

do not want grape. try next..
yes! I love cherry!

## List Comprehension

In [168]:
my_list = []
for i in range(20):
    if i % 2 == 0:
        my_list.append(i)

print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [169]:
my_list = [i for i in range(20) if i % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [170]:
a_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b_list = [2, 4, 6, 8, 10]
c_list = [x for x in a_list if x not in b_list]
print(c_list)

[1, 3, 5, 7, 9]

## Function

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ......

In [115]:
import math

In [122]:
def fib_list(n):
    print('use list to calc fib sequence')
    
    fib = [0, 1]
    
    if n < 0:
        return math.nan
    
    if n >= 2:
        for i in range(2, n+1):
            fib.append(fib[i-2] + fib[i-1])
            
    return fib[n]

In [123]:
print(fib_list(9))

use list to calc fib sequence
34

In [126]:
def fib_recursive(n):
    print('use recursive to calc fib sequence: ' + str(n))
    
    if n < 0:
        return math.nan
    elif n < 2:
        return n
    else:
        return fib_recursive(n-2) + fib_recursive(n-1)

In [127]:
print(fib_recursive(10))

use recursive to calc fib sequence: 10
use recursive to calc fib sequence: 8
use recursive to calc fib sequence: 6
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 7
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 6
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 9
use recursive to calc fib sequence: 7
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 6
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 8
use recursive to calc fib sequence: 6
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 7
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 6
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 5
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 4
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 3
use recursive to calc fib sequence: 1
use recursive to calc fib sequence: 2
use recursive to calc fib sequence: 0
use recursive to calc fib sequence: 1
55

In [128]:
def fib(f, n):
    return f(n)

In [129]:
fib(fib_list, 10)

use list to calc fib sequence

55

## Lambda

In [209]:
l = lambda x: x**2 + 1
l(5)

26

In [204]:
def f(x):
    r = x**2 + 1
    return r

In [205]:
f(5)

26

In [231]:
l2 = lambda x, y: x**2 + y + 5
l2(2, 3)

12

## [built-in functions](https://docs.python.org/3/library/functions.html#map)

### map

In [131]:
numbers = [1, 2, 3, 4, 5]

In [133]:
l = lambda x: x**2 + 1
list(map(l, numbers))

[2, 5, 10, 17, 26]

In [134]:
list(map(lambda x: x**3 + 1, numbers))

[2, 9, 28, 65, 126]

In [135]:
[x**3 + 1 for x in numbers]

[2, 9, 28, 65, 126]

### filter

In [139]:
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4]

In [141]:
names = ['alex', 'bob', 'austin', 'angelica', 'charlie']

In [142]:
list(filter(lambda x: x[0] == 'a', names))

['alex', 'austin', 'angelica']

In [143]:
list(map(
        lambda x: x**2 + 1, 
        list(filter(lambda x: x % 2 == 0, numbers)),
     ))

[5, 17]

### abs, sum, round

In [226]:
abs(-1)

1

In [227]:
abs(10)

10

In [228]:
sum([1,2,3])

6

In [229]:
# by default round to integer, can specify precision
round(3.1415926, 2)

3.14

### min, max

In [232]:
max([1,2,3])

3

In [233]:
min((1,2,3))

1

In [156]:
dict_a = {'A': 1, 'B': 20, 'C': 2}

In [157]:
max(dict_a)

'C'

In [159]:
max(dict_a.items(), key=lambda x: x[1])

('B', 20)

In [234]:
# given a list of numbers, return the max magnitude 
def max_magnitude(l):
    return max([abs(x) for x in l])

In [235]:
max_magnitude = lambda l: max([abs(x) for x in l])

In [236]:
max_magnitude([-10, -3, 5, 6])

10

### any, all

In [237]:
any([True, True, False])

True

In [238]:
any([False, False, False])

False

In [239]:
all([True, True, True])

True

In [240]:
all([True, True, False])

False

In [163]:
# given a list of ages, all grown ups?
def is_all_grownups(ages):
    return all(age >= 18 for age in ages)

In [165]:
is_all_grownups = lambda ages: all(age >= 18 for age in ages)

In [166]:
ages = [10, 12, 20, 24, 30]
is_all_grownups(ages)

False

### sorted, reversed

In [167]:
names

['alex', 'bob', 'austin', 'angelica', 'charlie']

In [168]:
list(reversed(names))

['charlie', 'angelica', 'austin', 'bob', 'alex']

In [169]:
names[::-1]

['charlie', 'angelica', 'austin', 'bob', 'alex']

In [170]:
sorted(names)

['alex', 'angelica', 'austin', 'bob', 'charlie']

In [171]:
names

['alex', 'bob', 'austin', 'angelica', 'charlie']

In [172]:
names.sort()

In [173]:
names

['alex', 'angelica', 'austin', 'bob', 'charlie']

### zip

In [176]:
math_scores = [60, 70, 80, 90, 100]
music_scores = [95, 96, 97, 98, 99]

In [177]:
[r for r in zip(names, math_scores, music_scores)]

[('alex', 60, 95),
 ('angelica', 70, 96),
 ('austin', 80, 97),
 ('bob', 90, 98),
 ('charlie', 100, 99)]

In [178]:
# average score
[(r[0], (r[1] + r[2]) / 2) for r in zip(names, math_scores, music_scores)]

[('alex', 77.5),
 ('angelica', 83.0),
 ('austin', 88.5),
 ('bob', 94.0),
 ('charlie', 99.5)]

In [179]:
# max score
[(r[0], max((r[1], r[2]))) for r in zip(names, math_scores, music_scores)]

[('alex', 95), ('angelica', 96), ('austin', 97), ('bob', 98), ('charlie', 100)]

In [180]:
[(name, max([math, music])) for name, math, music in zip(names, math_scores, music_scores)]

[('alex', 95), ('angelica', 96), ('austin', 97), ('bob', 98), ('charlie', 100)]

## Error Handling

In [184]:
fruits = ['grape', 'cherry', 'banana', 'apple']

In [188]:
it = iter(fruits)
while True:
    try:
        fruit = next(it)
    except StopIteration:
        print('Already reach the end of the list')
        break
    else:   # always execute 'print' or 'return' statements in ELSE block if no error occurs
        print(fruit)
    finally:
        print('=' * 40)

grape
========================================
cherry
========================================
banana
========================================
apple
========================================
Already reach the end of the list
========================================

In [198]:
def graceful_divide(a, b):
    try:
        r = a/b
    except ZeroDivisionError:
        return f"ERROR: cannot divide by zero. b = {b}"
    except TypeError:
        return f"ERROR: both numerator and denominator have to be numbers. a = {a}, b = {b}"
    else:     # always execute 'print' or 'return' statements in ELSE block if no error occurs
        return r
    finally:
        print('-' * 40)

In [199]:
print(graceful_divide(['a'], ['b']))
print(graceful_divide(30, 0))
print(graceful_divide(30, 10))

----------------------------------------
ERROR: both numerator and denominator have to be numbers. a = ['a'], b = ['b']
----------------------------------------
ERROR: cannot divide by zero. b = 0
----------------------------------------
3.0

## Object Oriented Programming (OOP)

In [210]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def speak(self):
        raise NotImplmentedError('speak() method needs to be implemented')

In [211]:
class Dog(Animal):
    
    TYPE = 'Animal'
    
    def __init__(self, color, name, age):
        super(Dog, self).__init__(name, age)   #call base class Animal
        self.color = color
        
    def speak(self):
        print('woof woof woof')
        
    def sit(self):
        print(self.name.title() + ' is now sitting')
        
    def jump(self):
        print(self.name.title() + ' is now jumping')
    
    def rollOver(self):
        print(self.name.title() + ' is now rolling over')
        
    def time_machine(self):
        if self.age >= 1:
            self.age -= 1
            
    def play(self, n1, n2):
        if n1 + n2 > 10:
            print('too complicated')
        else:
            n = n1 + n2
            i = 0
            while i < n:
                print('bark')
                i += 1
                
    def get_name(self):
        return self.name
    
    def get_age(self):
        return self.age
    
    def get_type(self):
        return self.TYPE

In [212]:
myDog = Dog('white', 'bingo', 3)

In [213]:
myDog.speak()
myDog.rollOver()
myDog.play(3, 9)

woof woof woof
Bingo is now rolling over
too complicated

In [214]:
yourDog = Dog('black', 'wang wang', 4)

In [215]:
print(yourDog.get_age())
yourDog.sit()

4
Wang Wang is now sitting

In [216]:
yourDog.time_machine()
print(yourDog.get_age())

3

In [218]:
print(yourDog.name)
print(yourDog.age)
print(yourDog.color)

wang wang
3
black

In [30]:
print(Dog.TYPE)
print(yourDog.TYPE)

Animal
Animal

In [219]:
class Cat(Animal):
    def __init__(self, name, age):
        super(Cat, self).__init__(name, age)
    
    def speak(self):
        print('moew moew moew')

In [220]:
my_cat = Cat('huahua', 2)

In [221]:
my_cat.speak()

moew moew moew

In [222]:
# base class 1
class A:
    def __init__(self, name):
        print('A ' + name)
        self.name = name

# base class 2
class B:
    def __init__(self, age):
        print('B ' + str(age))
        self.age = age

# base class 3
class C:
    def __init__(self, gender):
        print('C ' + gender)
        self.gender = gender

class D(A, B, C):
    def __init__(self, score, name, age, gender):
        super(D, self).__init__(name)
        super(A, self).__init__(age)
        super(B, self).__init__(gender)
        print('D ' + str(score))
        self.score = score

person = D(97, 'Maxine', 29, 'female')
person

A Maxine
B 29
C female
D 97

In [223]:
class A:
    pass

class B:
    pass

class C(A):
    pass

class D(B):
    pass

class E(C, D):
    pass

print(E.mro())
print(E.__mro__)

[<class '__main__.E'>, <class '__main__.C'>, <class '__main__.A'>, <class '__main__.D'>, <class '__main__.B'>, <class 'object'>]
(<class '__main__.E'>, <class '__main__.C'>, <class '__main__.A'>, <class '__main__.D'>, <class '__main__.B'>, <class 'object'>)

## [Regular Expression](https://pythex.org/)

A regular expression is simply a sequence of characters that define a pattern.

* validate an email
* extract data
* data wrangling
* web scraping
* simple parsing

#### Regular Expression Examples:

- *: 0 or more
- +: 1 or more
- \d: 1 digit
- \w: Alphanumeric \[0-9a-zA-Z\_\]
- \b: white space boundary around \w
- |: or
- \\: escape special characters

examples: <br>
PATTERN = '0412\s+345\s\*678' &nbsp;&nbsp;&nbsp;MATCH = '0412&nbsp;&nbsp;&nbsp;&nbsp;345678'<br>
PATTERN = '\d{4}\s+\d{3}\s\*\d{3}'&nbsp;&nbsp;&nbsp;&nbsp;MATCH = '0412&nbsp;&nbsp;&nbsp;&nbsp;345678'<br>
PATTERN = '\b\w{4}\b'&nbsp;&nbsp;&nbsp;&nbsp;MATCH = 'pls **call** me at 0405 613 647'<br>
PATTERN = '\d{4}\s\*\d{3}\s\*\d{3}\|\\w+@\\w+\\.com&nbsp;&nbsp;&nbsp;&nbsp;MATCH = 'pls call me at **0405 613 647** email to **alex@gmail\.com**'<br>
PATTERN = '\d{4}\s\*\d{3}\s\*\d{3}|\[A-Za-z\\.\]+@\[\w\\-\]+\\.\[a-z\]+'&nbsp;&nbsp;&nbsp;&nbsp;MATCH = 'pls call me at **0405 613 647** email **alex.green@some-domain\.com**'

### match

If zero or more characters at the beginning of string match the regular expression pattern, return a corresponding match object. Return None if the string does not match the pattern;

In [224]:
import re

string = 'Regex is awesome'

In [35]:
match1 = re.search(r'regex', string, flags=re.IGNORECASE)
if match1 is not None:
    print(match1.group())
else:
    print('No Match')

Regex

In [230]:
match2 = re.search(r'\Aawesome', string, flags=re.IGNORECASE)
if match2 is not None:
    print(match1.group())
else:
    print('No Match')

No Match

### search

Scan through string looking for the first location where the regular expression pattern produces a match, and return a corresponding match object. Return None if no position in the string matches the pattern

In [233]:
result1 = re.findall(r'is', 'dslj IS jkjdsis fdIsgdkisljs', flags=re.IGNORECASE)
result1

['IS', 'is', 'Is', 'is']

In [234]:
match3 = re.search('\d{4}\s*\d{3}\s*\d{3}', 'call me at 0405 613 647')
print(match3.group())
print(match3.group(0))
print(match3.groups())   # match.groups(): return a tuple of marked groups

0405 613 647
0405 613 647
()

In [235]:
match4 = re.search('(\d{4})\s*(\d{3})\s*(\d{3})', 'call me at 0405 613 647')

In [236]:
print(match4.group(0))
print(match4.group())

0405 613 647
0405 613 647

In [237]:
match4.groups()

('0405', '613', '647')

In [238]:
print(match4.group(1))
print(match4.group(2))
print(match4.group(3))

0405
613
647

In [239]:
match5 = re.search(r'([a-zA-Z\.]+)@.*', 'alex.green@gmail.com')

In [240]:
print(match5.group())
print(match5.groups())
print(match5.group(1))

alex.green@gmail.com
('alex.green',)
alex.green

### re.split(pattern, string, maxsplit=0, flags=0)
Split string by the occurrences of pattern. If capturing parentheses are used in pattern, then the text of all groups in the pattern are also returned as part of the resulting list. If maxsplit is nonzero, at most maxsplit splits occur, and the remainder of the string is returned as the final element of the list.

In [241]:
re.split(r'\W+', 'machine, learning, data engineer')

['machine', 'learning', 'data', 'engineer']

In [242]:
re.split(r'\s+', 'machine, learning, data engineer')

['machine,', 'learning,', 'data', 'engineer']

In [243]:
re.split(r'\s+', 'machine,learning,data engineer')

['machine,learning,data', 'engineer']

## File IO

In [244]:
file = open('./data/file.txt')
file.read()

'hello world!\nsome more content\npython is interesting'

In [245]:
file.read()

''

In [246]:
file.seek(0)

0

In [247]:
file.readline()  # read the first line only

'hello world!\n'

In [248]:
file.readlines()

['some more content\n', 'python is interesting']

In [249]:
file.closed   # return boolean

False

In [250]:
file.close()

In [251]:
file.closed

True

In [252]:
file.read()

ValueError: I/O operation on closed file.

In [253]:
# WTIH block automatically closes file in the end
with open('./data/file.txt') as f:
    lines = f.readlines()

In [254]:
lines

['hello world!\n', 'some more content\n', 'python is interesting']

In [255]:
f.closed

True

In [256]:
# write mode, will OVERWRITE
with open('./data/hello.txt', 'w') as f:
    f.write('greeting!\n')

In [257]:
# append mode, will append at the last
with open('./data/hello.txt', 'a') as f:
    f.write('good arvo!\n')

In [258]:
with open('./data/hello.txt') as f:
    print(f.read())

greeting!
good arvo!

In [259]:
with open('./data/hello.txt', 'r+') as f:
    f.write('OW!')
    f.seek(0)
    print(f.read())

OW!eting!
good arvo!

## datetime & time

### Summary

1. time module Unix Timestamp. 1970 - 2038. 
2. datetime time

### datetime module

In [260]:
from datetime import datetime, timedelta

In [261]:
print(datetime.utcnow())

2024-07-02 00:54:38.882176

In [262]:
x = datetime.now()
print(x)

2024-07-02 10:54:41.819479

In [263]:
print(f"{x.year}-{x.month}-{x.day} {x.hour}:{x.minute}:{x.second}.{x.microsecond}")

2024-7-2 10:54:41.819479

In [265]:
two_days_before = x + timedelta(days=-2) + timedelta(hours=6) + timedelta(minutes=30) + timedelta(seconds=-20)
print(two_days_before)

2024-06-30 17:24:21.819479

In [267]:
one_year_after = x + timedelta(days=365) + timedelta(microseconds=26)
print(one_year_after)

2025-07-02 10:54:41.819505

In [268]:
diff = one_year_after - two_days_before
type(diff)

datetime.timedelta

`datetime.timedelta` only has attributes of `days`, `seconds` and `microseconds`

In [269]:
print(f"{diff.days}")
print(f"{diff.seconds}")
print(f"{diff.microseconds}")

366
63020
26

In [270]:
from time import sleep

x1 = datetime.now()
sleep(3)
x2 = datetime.now()
print(f'{(x2 - x1)}')
print(f'{(x2 - x1).seconds}')
print(f'{(x2 - x1).microseconds}')

0:00:03.000986
3
986

In [271]:
print(x.date())  # convert datetime to date

2024-07-02

In [272]:
print(x.time())  # convert datetime to time

10:54:41.819479

In [273]:
# from datetime to string, use dt.strftime(format)
print(x.strftime('%A %Y-%m-%d %H:%M'))

Tuesday 2024-07-02 10:54

In [274]:
print(x.strftime('%d/%m/%Y %H:%M:%S'))

02/07/2024 10:54:41

In [275]:
print(x.strftime("%a, %A"))

Tue, Tuesday

![datetime_format](./pics/datetime-format.png)

In [276]:
# from string to datetime, use datetime.strptime(str, format)
datetime_str = '04/11/20 16:55:26'
datetime_obj = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

In [277]:
print(datetime_obj.hour)

16

<hr />

### time module

In [278]:
from time import time, sleep

In [279]:
# current timestamp
t0 = time()
sleep(5)
time() - t0

5.001169443130493